<!DOCTYPE html>
<html lang="en">

<head>
    {{>headLinks}}
    <link rel="stylesheet" href="../../styles/navbar.css">
    <link rel="stylesheet" href="../../styles/about.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <title>NewsWave About</title>
</head>

<body>
    {{>navbar2}}

    <main>
        <div class="container p-3">
            <h5>
                <ul>
                    <li>About NewsWave</li>
                </ul>
            </h5>
            <p>Welcome to NewsWave, your premier destination for the latest, most comprehensive news coverage available
                online. At NewsWave, we pride ourselves on delivering breaking news, insightful analyses, and
                captivating stories that keep you informed, engaged, and empowered.</p>
            <div id="container" class="d-flex">
                <div id="left-container">
                    <figure id="image">
                        <img src="../../img/coffee.jpg" alt="">
                        <figcaption>Savoring the morning, Coffee and headlines.</figcaption>
                    </figure>
                </div>
                <div id="right-container">
                    <h5>
                        <ul>
                            <li>Our Mission</li>
                        </ul>
                    </h5>
                    <p>NewsWave is driven by a singular mission: to provide you with timely, accurate, and diverse news
                        coverage from around the world. In an age where information is abundant yet often overwhelming,
                        we aim to be your trusted source for navigating the ever-changing currents of current events.
                    </p>
                </div>
            </div>

            <div>
                <h5>
                    <ul>
                        <li>What Sets Us Apart</li>
                    </ul>
                </h5>
                <p>What sets NewsWave apart is our relentless dedication to excellence. Our team of experienced
                    journalists, writers, and editors works tirelessly to bring you news from diverse perspectives,
                    ensuring a well-rounded understanding of global events. We adhere to the highest journalistic
                    standards and ethics, providing you with news you can rely on.</p>
            </div>
            <div>
                <h5>
                    <ul>
                        <li>Your Gateway to the Worldn</li>
                    </ul>
                </h5>
                <p>From politics to technology, entertainment to sports, and everything in between, NewsWave covers a
                    wide range of topics to satisfy every interest and curiosity. Whether you're a casual reader, a news
                    enthusiast, or a professional in need of timely updates, NewsWave is your go-to destination for all
                    things news-related.</p>
            </div>
            <div>
                <h5>
                    <ul>
                        <li>Join the NewsWave Community</li>
                    </ul>
                </h5>
                <p>Join the vibrant NewsWave community and become part of a dynamic network of informed individuals.
                    Share your thoughts, engage in meaningful discussions, and connect with like-minded news
                    enthusiasts. Together, let's ride the NewsWave and explore the ever-changing tides of our world.</p>
            </div>
            <div>
                <h5>
                    <ul>
                        <li>Stay Connected</li>
                    </ul>
                </h5>
                <p>Stay connected with NewsWave by following us on social media and subscribing to our newsletter. Join
                    us on this exhilarating journey as we ride the waves of news together. Thank you for choosing
                    NewsWave as your trusted source for the latest news and stories.</p>
            </div>
        </div>
    </main>

    {{>footer}}

    {{>scriptLinks}}
</body>

</html>