<!DOCTYPE html>
<html lang="en">

<head>
    {{>headLinks}}
    <link rel="stylesheet" href="../../styles/navbar.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <title>NewsWave Docs</title>
</head>
<style>

</style>

<body>
    {{>navbar2}}

    <main>
        <div class="container p-3">
            <h2>Sorting guide:</h2>
            <p><span>relevancy</span> = articles more closely related to search come first.</p>
            <p><span>popularity</span> = articles from popular sources and publishers come first.</p>
            <p><span>publishedAt</span> = newest articles come first.</p>
        </div>

        <div class="container p-3">
            <h2>Language code guide:</h2>
            <p><span>en</span> = English</p>
            <p><span>de</span> = Deutschland</p>
            <p><span>ar</span> = Arabic</p>
            <p><span>es</span> = Spanish</p>
            <p><span>fr</span> = French</p>
            <p><span>he</span> = Hebrew</p>
            <p><span>it</span> = Italian</p>
            <p><span>nl</span> = Dutch</p>
            <p><span>pt</span> = Portuguese</p>
            <p><span>ru</span> = Russian</p>
            <p><span>sv</span> = Swedish</p>
            <p><span>ud</span> = Udmurt</p>
            <p><span>zh</span> = Chinese</p>
        </div>
    </main>

    {{>footer}}

    {{>scriptLinks}}
</body>

</html>