<!DOCTYPE html>
<html lang="en">

<head>
    {{>headLinks}}
    <link rel="stylesheet" href="../../styles/error.css">
    <title>Error</title>
</head>

<body>
    <div class="d-flex justify-content-center align-items-center flex-column vh-100">
        <img src="../../img/404.png" alt="404 Error" id="img-404">
        <h5>{{errorMsg}}</h5>
        <a href="/" id="btn" class="mt-4">GO BACK</a>
    </div>
</body>

</html>