@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}

/* navbar propery overwrite */
#docs-txt {
    color: black !important;
}

main {
    background-color: rgb(219 231 245);
    font-size: 1.1rem;
}

h2 {
    font-size: 1.6rem;
}

span {
    font-size: 1.2rem;
    font-weight: 600;
}