<footer>
    <div id="footer" class="d-flex justify-content-center align-items-center flex-column bg-primary py-4">
        <div id="icons" class="text-center">
            <a href="linkedin.com/in/sanskar-jha-101a8823b/"><i class="fa-brands fa-linkedin fa-2x text-light"></i></a>
            <a href="linkedin.com/in/sanskar-jha-101a8823b/"><i class="fa-brands fa-instagram fa-2x text-light"></i></a>
            <a href="linkedin.com/in/sanskar-jha-101a8823b/"><i class="fa-brands fa-facebook fa-2x text-light"></i></a>
            <a href="linkedin.com/in/sanskar-jha-101a8823b/"><i class="fa-brands fa-twitter fa-2x text-light"></i></a>
        </div>

        <div id="foot-nav" class="my-4">
            <ul class="d-flex justify-content-center align-items-center m-auto">
                <li><a href="/" class="text-light">Home</a></li>
                <li><a href="/about" class="text-light">About</a></li>
                <li><a href="/docs" class="text-light">Docs</a></li>
            </ul>
        </div>

        <div>
            <p class="text-light m-auto">&copy;2024 NewsWave | All Rights Reserved</p>
        </div>
    </div>
</footer>