<header>
    <nav>
        <ul id="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/docs">Docs</a></li>
        </ul>
        <!-- Search box -->
        <div id="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
            <form method="GET" action="/" id="search-form" role="search">
                <input type="text" id="search" type="search" name="search" placeholder="Search..." required>
            </form>
        </div>
    </nav>

    <div id="logo">
        <a href="/"><img src="./img/NewsWave_logo.png" alt=""></a>
    </div>
</header>